<picture>
  <img style="max-width: 100%; height: auto;" srcset="
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_200.jpg 200w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_361.jpg 361w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_492.jpg 492w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_589.jpg 589w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_697.jpg 697w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_808.jpg 808w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_913.jpg 913w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_1013.jpg 1013w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_1103.jpg 1103w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_1197.jpg 1197w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_1278.jpg 1278w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_1331.jpg 1331w,
  ../../../assets/headerImage/headerImage_mhl13w_c_scale,w_1350.jpg 1350w" 
  src="../../../assets/headerImage/headerImage_mhl13w_c_scale,w_1350.jpg" alt="">
</picture>

<app-specials></app-specials>

<app-meal-deals></app-meal-deals>

<app-kids-meal></app-kids-meal>

<!--
  style="max-width: 100%; height: auto;"
-->