.grid-container {
  margin: 20px;
  // background: rgb(158, 240, 222);
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  // background: rgb(228, 155, 155);
  text-align: center;
}

.dashboard-card-content {
  text-align: center;
  // background: rgb(202, 255, 152);
}

.img {
  max-width: 100%;
  vertical-align: bottom;
  padding-bottom: 10px;
  height: 210px;
}

.picture {
  //background-color: rgb(12, 126, 88);
  height: 220px;
}
