.grid-container {
  margin: 20px;
 // background-color: #FF6E40;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
//   background: rgb(37, 16, 16);
  text-align: center;
}

.dashboard-card-content {
  text-align: center;
  //  background: rgb(202, 255, 152);
}

.img {
  max-width: 100%;
  vertical-align: bottom;
  padding-bottom: 15px;
  height: 220px;
}

.picture {
  //background-color: rgb(12, 126, 88);
  height: 220px;
}
