.sidenav-container {
  height: 100%;
  background-color: #ffff00;
}
.sidenav {
  width: 200px;
  /*  background-color: #ff5252; */
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ff3d00;
}
.footer {
  bottom: 0;
  z-index: 1;
}
